<div class=" container">
        
        <div class="left_Side">
            <div class="profileText">
                <div class="imgBx">
                    <img [src]="" alt="mon profil" title="mon profil !">
                </div>
                <h2>Abdel Razak Ndam <br><span>Web Developer</span></h2>
            </div>
           <div class ="profileText">
                <header>MENU</header>
                    <div class="sidebar">
                     
                <ul>
                    <li><a  routerLink="perso">Infos Personnelles</a></li > 
                    <li><a href = "diplomes">Diplômes</a></li>
                    <li><a href = "Acquis">Compétences</a></li>
                    <li><a href = "Hobits">Passe Temps</a></li>
                    <li><a href = "langues">Langues_Parles  </a></li>
                </ul>
            </div>
        
       

        </div>
    
    </div>   
<router-outlet></router-outlet>


