<div class="about">
    <div class="box">
        <div class="year_company">
            <h5>NOM</h5>
        </div>
        <div class="text">
            <h5>Abdel razak Ndam </h5>
        </div>
    </div>
    <div class="box">
        <div class="year_company">
            <h5>PRENOM</h5>
        </div>
        <div class="text">
            <h5>Kouotou Mounir </h5>
        </div>
        
    </div>
    <div class="box">
        <div class="year_company">
            <h5>DATE ET LIEU DE NAISSANCE </h5>
        </div>
        <div class="text">
            <h5>04-05-2003 a Massangam </h5>
        </div>
    </div>
    <div class="box">
        <div class="year_company">
            <h5>LIEU DE RESIDENCE </h5>
        </div>
        <div class="text">
            <h5> carrefou obili  </h5>
        </div>
    </div>
    <div class="box">
        <div class="year_company">
            <h5>ADRESSE Email </h5>
        </div>
        <div class="text">
            <h5><a href = "https://www.google.fr">abdelrazak952@gmail.com</a></h5>
        </div>
    </div>
    <div class="box">
        <div class="year_company">
            <h5>NUMERO DE TELEPHONE </h5>
        </div>
        <div class="text">
            <h5>690208244</h5>
        </div>
    </div>
</div>




<router-outlet></router-outlet>

